ActionBar {
    background-color:  #F1631A;
    color: white;
    font-family: 'Lato', 'Lato-Bold'; 
}


.henquiry-name{
    font-family: 'Lato', 'Lato-Bold'; 
    color: black;
    font-size: 20;
}

.fa {
    color: black;
    font-size: 18;
    
}

.icon {
    font-family: 'FontAwesome';
}


.list-group-item-content {
    padding: 8 15 4 15;
    background-color: rgba(240, 97, 25, 0.25);
    
}



.list-group-item {
    padding: 0 0 8 0;
    background-color: white;
}

