ActionBar {
    background-color:  #FF6600;
    color: #001144;
    font-family: 'Lato', 'Lato-Bold'; 
}

.chatButtons{
    border-radius: 100;
    color:#001144;
    border-width: 1;
    border-color: #D8DAE5;
    margin:5 5;
    padding:0;
}

.deactivated {
    border-radius: 100;
    color: gray;
    border-width: 1;
    border-color: #D8DAE5;
    margin:5 5;
    padding:0;
}


.gridItem {
    background-color: white;; 
    color:#001144;
    border-width: 1;
    border-color: #D8DAE5;
    margin:5 15;
    padding:10 10 10 10;
    border-radius:20;
}


Image{

}


.icon {
     font-family: "FontAwesome";
 }

.fa {
    font-family: 'Lato', 'Lato-Bold'; 
}

.heading {
    font-size: 17;
}
 
