<StackLayout [formGroup]="registerForm">
    <StackLayout *ngIf="currentPage === 0">
        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,*,auto,auto" columns="*,*">
            <Label row="0" colSpan="2" text="Teil werden!" class="heading"></Label>
            <TextField row="1" colSpan="2" formControlName="firstname" hint="Vorname" autocorrect="false">
            </TextField>
            <Label row="2" colSpan="2" *ngIf="submitted && f.firstname.errors?.required" class="invalid-feedback" text="Es fehlt ein Vorname!">
            </Label>
            <TextField row="3" colSpan="2" formControlName="surname" hint="Nachname" autocorrect="false">
            </TextField>
            <Label row="4" colSpan="2" *ngIf="submitted && f.surname.errors?.required" class="invalid-feedback" text="Es fehlt ein Nachname!">
            </Label>
            <TextField row="5" colSpan="2" formControlName="email" hint="Email-Adresse" keyboardType="email"
                autocorrect="false" autocapitalizationType="none">
            </TextField>
            <Label row="6" colSpan="2" *ngIf="submitted && f.email.errors?.required" class="invalid-feedback" text="Keine E-Mail angegeben!">
            </Label>
            <Label row="7" colSpan="2" *ngIf="submitted && f.email.errors?.pattern" class="invalid-feedback" text="Keine valide E-Mail!">
            </Label>
            <TextField row="8" colSpan="2" formControlName="password" hint="Passwort" secure="true">
            </TextField>
            <Label row="9" colSpan="2" *ngIf="submitted && f.password.errors?.required" class="invalid-feedback" text="Es fehlt ein Password!">
            </Label>
            <TextField row="10" colSpan="2" formControlName="confPassword" hint="Passwort bestätigen" secure="true">
            </TextField>
            <Label row="11" colSpan="2" *ngIf="submitted && f.confPassword.errors?.required" class="invalid-feedback"
                text="Das Passwort wiederholen!">
            </Label>
            <Label row="12" colSpan="2" *ngIf="submitted && registerForm .errors?.mismatch" class="invalid-feedback"
                text="Passwörter stimmen nicht überein!">
            </Label>
            <Image class="status" row="14" colSpan="2" [src]="getCategoryIconSource('status1v4')"></Image>
            <Button class="navButton buttonRight" row="15" col="1" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Weiter"
                (tap)="switchStatus(1)">
            </Button>
            <Button class="navButton buttonLeft" row="15" col="0" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück"
                (tap)="goBack()">
            </Button>
        </GridLayout>
    </StackLayout>
    <StackLayout *ngIf="currentPage === 1" >
        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto,*,auto,auto" columns="*,*" formGroupname="address">
            <Label row="0" colSpan="2" text="Teil werden!" class="heading"></Label>
            <TextField row="1" colSpan="2" hint="Straße" formControlName="street" autocorrect="false">
            </TextField>
            <TextField row="2" colSpan="2" hint="Hausnummer" formControlName="housenm" autocorrect="false">
            </TextField>
            <TextField row="3" colSpan="2" hint="Postleitzahl" formControlName="postalcode" autocorrect="false">
            </TextField>
            <TextField row="4" colSpan="2" hint="Stadt" formControlName="city" autocorrect="false">
            </TextField>
            <Label row="5" colSpan="2" class="codeText" textWrap="true" text="Hast du schon einen Verifizierungscode?">
            </Label>
            <TextField row="6" colSpan="2" hint="Verifizierungscode" formControlName="code">
            </TextField>
            <TextField row="7" colSpan="2" hint="E-Mail deines Sponors" formControlName="hostEmail"></TextField>
            <Image class="status" row="9" colSpan="2" [src]="getCategoryIconSource('status2v4')"></Image>
            <Button class="navButton buttonRight" row="10" col="1" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Weiter"
                (tap)="switchStatus(2)">
            </Button>
            <Button class="navButton buttonLeft" row="10" col="0" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück"
                (tap)="switchStatus(0)">
            </Button>
        </GridLayout>
    </StackLayout>
    <StackLayout *ngIf="currentPage === 2">
        <GridLayout rows="auto,auto,auto,auto,auto,*,auto,auto" columns="*,*">
            <Label row="0" colSpan="2" text="Teil werden!" class="heading"></Label>
            <GridLayout class="genders" row="1" colSpan="2" rows="auto" columns="*,*,*" >
                <Button class="genderButton" row="0" col="0" text="Männlich" (tap)="handleTap($event, 0)"></Button>
                <Button class="genderButton" row="0" col="1" text="Weiblich" (tap)="handleTap($event, 1)"></Button>
                <Button class="genderButton" row="0" col="2" text="Anders" (tap)="handleTap($event, 2)"></Button>
            </GridLayout>
            <TextField row="2" colSpan="2" hint="Spitzname" formControlName="nickname"></TextField>
            <Label class="chooseAvatar" row="3" colSpan="2" textWrap="true" text="Such dir eine Figur aus:"></Label>
            <GridLayout row="4" colSpan="2" rows="auto" columns="*,auto,*">
                <Image class="avatar" stretch="fill" row="4" col="1" verticalAlignment="center" horizontalAlignment="center"
                    [src]="getAvatar()"></Image>
                <Label class="icon" row="4" col="0" verticalAlignment="center" horizontalAlignment="right" (tap)="switchAvatar(-1)"
                    text="&#xf053;"></Label>
                <Label class="icon" row="4" col="2" verticalAlignment="center" horizontalAlignment="left" (tap)="switchAvatar(1)"
                    text="&#xf054;"></Label>
            </GridLayout>
            <Image class="status" row="6" colSpan="2" [src]="getCategoryIconSource('status3v4')"></Image>
            <Button class="navButton buttonRight" row="7" col="1" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Weiter"
                (tap)="switchStatus(3)">
            </Button>
            <Button class="navButton buttonLeft" row="7" col="0" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück"
                (tap)="switchStatus(1)">
            </Button>
        </GridLayout>
    </StackLayout>
    <StackLayout *ngIf="currentPage === 3">
        <GridLayout rows="auto,*,auto,*,auto,auto" columns="*,*">
            <Label row="0" colSpan="2" textWrap="true" text="Bevor's gleich losgeht ..." class="heading"></Label>
            <Label row="2" colSpan="2" textWrap="true" class="longText">
                <FormattedString>
                    <Span text="… möchten wir dich noch darauf aufmerksam machen, dass die Idee von Social 30 nur dann funktioniert, wenn wir uns alle dazu bereit erklären, jeden aus der Social 30 Gemeinschaft unabhängig von seiner Herkunft, Religion, Nationalität, seiner ethnischen Zugehörigkeit, seiner Hautfarbe, seinem Geschlecht bzw. seiner Geschlechtsidentität, seiner sexuellen Orientierung, seinem Alter oder einer Behinderung respektvoll und unvoreingenommen zu behandeln. Ziel der App ist es, das Miteinander der Menschen zu stärken und sie wieder ein Stück näher zusammenzubringen. Jeder sollte dabei so handeln, wie er selbst auch behandelt werden möchte."
                        color="#001144"></Span>
                    <Span text=" Mit der Benutzung der Social 30 App stimmst du unseren " color="#001144"></Span>
                    <Span text="Social 30 Nutzungbedingungen  " color="#FF6600"></Span>
                    <Span text="und unserer " color="#001144"></Span>
                    <Span text="Antidiskriminierungs-Richtlinie " color="#FF6600"></Span>
                    <Span text="zu. Außerdem willigst du in unsere  " color="#001144"></Span>
                    <Span text="Datenschutzrichtlinien " color="#FF6600"></Span>
                    <Span text="ein." color="#001144"></Span>
                </FormattedString>
            </Label>
            <Image class="status" row="4" colSpan="2" [src]="getCategoryIconSource('status4v4')"></Image>
            <Button class="navButton buttonRight" row="5" col="1" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Loslegen!"
                (tap)="onSubmit()">
            </Button>
            <Button class="navButton buttonLeft" row="5" col="0" [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück"
                (tap)="switchStatus(2)">
            </Button>
        </GridLayout>
    </StackLayout>
</StackLayout>