ActionBar {
    background-color:  #FF6600;
    color: white;
    font-family: 'Lato', 'Lato-Bold'; 
}

StackLayout{
    color:#001144;
}

.border{
    border-width: 2;
    border-color: #FF6600;
    border-radius:20;
}

.category{
    margin:5 15;
}

.fa{
    font-family: 'Lato', 'Lato-Bold'; 
}

.heading{
    font-size: 17;
    margin:5 0 5 10;
}

.subHeading{
    font-size: 25;
    margin:5 0 5 10;
}

.categoryDescription{
    margin:0 0 5 10;
}


.icon{
    font-family: "FontAwesome";
    margin: 0 10 0 10;
}

Button {
    background-color: #FF6600;
    color: white;
    border-radius: 25;
    font-family: 'Lato', 'Lato-Bold'; 
    margin: 10 5;
}
 
