<ActionBar title="Mein Plauderkasten">
        <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<StackLayout *ngIf="polledChatOverview$ | async; else noEntries" marginTop="5">
        <RadListView [items]="polledChatOverview$ | async" #myListView [itemTemplateSelector]="templateSelector" class="list-group"
                style="height:100%">
                <ng-template tkListItemTemplate let-item="item">
                        <FlexboxLayout flexDirection="row">
                                <GridLayout rows="auto,auto" columns="auto, *, auto" class="border gridItem">
                                        <GridLayout row="0" col="0" colSpan="3" rows="auto,auto,auto" columns="auto, *, auto"
                                                pageTransition="slideLeft" [nsRouterLink]="['../chats', item._id]">
                                                <Label row="0" col="1" colSpan="2" textWrap="true" [text]="formatCategory(item.henquiry.category.category,item.henquiry.category.subcategory) + ' am ' + formatStartTimeToDateDecimal(item.henquiry.startTime)"
                                                        verticalAlignment="bottom" horizontalAlignment="left" class="fa heading"></Label>
                                                <Label row="1" col="1" colSpan="2" textWrap="true" [text]="getName(item)"
                                                        verticalAlignment="center" horizontalAlignment="left" class="fa"></Label>
                                                <Label row="2" col="1" colSpan="2" textWrap="true" [text]="readStatus(item)"
                                                        verticalAlignment="top" horizontalAlignment="left" class="fa"></Label>
                                                <Image row="0" rowSpan="3" col="0" [src]="statusToAvatar(item)" height="70"
                                                        verticalAlignment="center" horizontalAlignment="center"></Image>
                                                <Label row="1" col="2" text="&#xf054;" verticalAlignment="center"
                                                        horizontalAlignment="right" class="icon"></Label>
                                        </GridLayout>
                                        <GridLayout row="1" col="0" colSpan="3" rows="auto" columns="auto,*">
                                                <Label row="0" col="1" textWrap="true" [text]="applyStatus(item)"
                                                        verticalAlignment="center" horizontalAlignment="left" class="fa"></Label>
                                                <ng-container *ngIf="userIsFiler(item); then filer; else aide"></ng-container>
                                                <ng-template #filer>
                                                        <ng-container *ngIf="userCanRate(item); then rateAide; else accept"></ng-container>
                                                        <ng-template #rateAide>
                                                                <Button row="0" col="0" text="&#xf005;" class="icon chatButtons"
                                                                        (tap)="rateTap($event, item)" pageTransition="fade"
                                                                        [nsRouterLink]="['../rating', roleForIdString(item) + item.henquiry._id]"></Button>
                                                        </ng-template>
                                                        <ng-template #accept>
                                                                <Button row="0" col="0" text="&#xf00c;" class="icon chatButtons"
                                                                        (tap)="acceptTap($event, item)"></Button>
                                                        </ng-template>
                                                </ng-template>
                                                <ng-template #aide>
                                                        <ng-container *ngIf="userCanRate(item); then rateFiler; else cancel"></ng-container>
                                                        <ng-template #rateFiler>
                                                                <Button row="0" col="0" text="&#xf005;" class="icon chatButtons"
                                                                        (tap)="rateTap($event, item)" pageTransition="fade"
                                                                        [nsRouterLink]="['../rating', roleForIdString(item) + item.henquiry._id]"></Button>
                                                        </ng-template>
                                                        <ng-template #cancel>
                                                                <Button row="0" col="0" text="&#xf00d;" class="icon chatButtons"
                                                                        (tap)="cancelTap($event, item)"></Button>
                                                        </ng-template>
                                                </ng-template>
                                        </GridLayout>
                                </GridLayout>
                        </FlexboxLayout>
                </ng-template>
        </RadListView>
</StackLayout>
<ng-template #noEntries>
        <GridLayout rows="auto,auto,auto,auto" class="emptyScreen fa">
                <Label row="0" text="Schau doch mal auf der Startseite vorbei, bestimmt kann jemand genau deine Unterstützung gebrauchen!"
                        horizontalAlignment="center" verticalAlignment="center" textWrap="true" class="emptytext1"></Label>
                <Label row="1" text="Oder brauchst du selbst Hilfe? Dann setz einfach ein Hilfegesuch auf!"
                        horizontalAlignment="center" verticalAlignment="center" textWrap="true" class="emptytext2"></Label>
                <Image row="2" [src]="getCategoryIconSource('kaffeetasse')" horizontalAlignment="center"
                        verticalAlignment="center" height="25%" class="emptyimage1"></Image>
                <Label row="3" text="Hier geht bald die Post ab! Dann hast du die Möglichkeit mit deinen Nachbarn zu schreiben."
                        horizontalAlignment="center" verticalAlignment="center" textWrap="true" class="emptytext3"></Label>
        </GridLayout>
</ng-template>

<!--
                                                <ng-container *ngIf="acceptPossible(item); then accept; else noAccept"></ng-container>
                                                <ng-template #accept>
                                                        <Button row="0" col="0" text="&#xf00c;" class="icon chatButtons"
                                                                (tap)="acceptTap($event, item)"></Button>
                                                </ng-template>
                                                <ng-template #noAccept>
                                                        <Button row="0" col="0" text="noAccept" class="icon deactivated"></Button>
                                                </ng-template>
                                                <ng-container *ngIf="cancelPossible(item); then canCancel; else noCancel"></ng-container>
                                                <ng-template #canCancel>
                                                        <Button row="0" col="1" text="&#xf00d;" class="icon chatButtons"
                                                                (tap)="cancelTap($event, item)"></Button>
                                                </ng-template>
                                                <ng-template #noCancel>
                                                        <Button row="0" col="1" text="noCancel" class="icon deactivated"></Button>
                                                </ng-template>
                                                <ng-container *ngIf="userCanRate(item); then canRate; else noRate"></ng-container>
                                                <ng-template #canRate>
                                                        <Button row="0" col="2" text="&#xf005;" class="icon chatButtons"
                                                                (tap)="rateTap($event, item)" [nsRouterLink]="['../rating', roleForIdString(item) + item.henquiry._id]"></Button>
                                                </ng-template>
                                                <ng-template #noRate>
                                                        <Button row="0" col="2" text="noRate" class="icon deactivated"></Button>
                                                </ng-template>-->
<!--(itemTap)="onItemTap($event)"
<Button row="0" col="0" colSpan="2" height="25" text="Chat away" [nsRouterLink]="['../chats', item._id]"></Button>-->
<!--*ngIf="entries | async; else noEntries
        <ng-template #noEntries>
        <GridLayout rows="auto,auto,auto,auto" class="emptyScreen fa">
                <Label row="0" text="Schau doch mal auf der Startseite vorbei, bestimmt kann jemand genau deine Unterstützung gebrauchen!"
                        horizontalAlignment="center" verticalAlignment="center" textWrap="true" class="emptytext1"></Label>
                <Label row="1" text="Oder brauchst du selbst Hilfe? Dann setz einfach ein Hilfegesuch auf!"
                        horizontalAlignment="center" verticalAlignment="center" textWrap="true" class="emptytext2"></Label>
                <Image row="2" [src]="getCategoryIconSource('kaffeetasse')" horizontalAlignment="center"
                        verticalAlignment="center" height="25%" class="emptyimage1"></Image>
                <Label row="3" text="Hier geht bald die Post ab! Dann hast du die Möglichkeit mit deinen Nachbarn zu schreiben."
                        horizontalAlignment="center" verticalAlignment="center" textWrap="true" class="emptytext3"></Label>
        </GridLayout>
</ng-template>"
-->
<!--<ng-template tkTemplateKey="expanded" let-item="item">
                        <FlexboxLayout flexDirection="row">
                                <GridLayout rows="33,33,34,*,*,*,*,*,*,3*,*" columns="*, *, *, 15" class="border-expanded gridItem">
                                        <Label row="0" col="0" colSpan="2" [text]="formatCategory(item.category.category, item.category.subcategory)"
                                                verticalAlignment="center" height="25" class="fa heading"></Label>
                                        <Label row="1" col="0" colSpan="2" [text]="formatStartTime(item.startTime)"
                                                verticalAlignment="bottom" height="20" class="fa"></Label>
                                        <Label row="2" col="0" colSpan="2" [text]="formatDistance(item.distance)"
                                                verticalAlignment="center" height="20" class="fa"></Label>
                                        <Image row="0" rowSpan="3" col="2" [src]="setIcon(item.category.category, item.category.subcategory)"
                                                height="100" verticalAlignment="center" horizontalAlignment="right"></Image>

                                        <StackLayout row="3" class="hr-light m-t-5 m-b-5" colSpan="4"></StackLayout>

                                        <Label row="4" col="0" colSpan="2" [text]="formatTerra(item.startTime, item.endTime)"
                                                verticalAlignment="bottom" height="20" class="fa"></Label>
                                        <Label row="5" col="0" colSpan="2" [text]="formatDuration(item.startTime, item.endTime)"
                                                verticalAlignment="top" height="20" class="fa"></Label>
                                        <Image row="6" rowSpan="3" col="0" [src]="getCategoryIconSource('woman01')"
                                                height="80" verticalAlignment="center" horizontalAlignment="center"></Image>
                                        <Label row="6" col="1" colSpan="3" [text]="item.createdBy.firstname + ' ' + item.createdBy.surname[0] + '.'"
                                                horizontalAlignment="left" verticalAlignment="bottom" height="20" class="fa"></Label>
                                        <Label row="7" col="1" colSpan="3" [text]="item.createdBy.nickname"
                                                horizontalAlignment="left" verticalAlignment="center" height="20" class="fa"></Label>
                                        <Button row="9" col="0" colSpan="3" text="Da will ich helfen!" class="willHelpButton"
                                                (tap)="applyTo(item._id)"></Button>
                                        <Label row="10" col="3" text="&#xf077;" verticalAlignment="bottom" class="icon"></Label>
                                </GridLayout>
                        </FlexboxLayout>
                </ng-template>-->