
.fa {
    color: black;
    
}

.icon {
    font-family: 'FontAwesome', fontawesome-webfont;
}


.list-group-item-content {
    padding: 8 15 4 15;
    background-color: lightcoral;
}

.list-group-item {
    padding: 0 0 8 0;
    background-color: lightblue;
}

