ActionBar {
    background-color:  #F1631A;
    color: white;
    font-family: 'Lato', 'Lato-Bold'; 
}

StackLayout{
    background-color:white;
}

Button{
background-color: #F1631A;
color: white;
border-radius: 25;
font-family: 'Lato', 'Lato-Bold'; 
}



.willHelpButton{
    margin:20 0 0 0;
    font-size:13;
}

.willHelpButton:active{
    background-color: #d8510e;
}



.filterButton{
    font-size:15;
    margin:10 10 5 10;
    width: 300;
    font-size:15;
    background-color: #E8EBED;
    color: #2D4757;
    border-radius: 25;
}

.filterButton:active{
    background-color: #2D4757;
    color: #E8EBED;
}

  .gridItem{
    background-color: white;; 
    color:#2D4757;
    border-width: 2;
    border-color: #2D4757;
  }

.fa{
    font-family: 'Lato', 'Lato-Bold'; 
}

.heading{
    font-size: 17;
}
 
