<ActionBar title="Hilfegesuch erstellen - Details">
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<!--<StackLayout>
    <Label text="{{id}}"></Label>
    <Label text={{idtype}}></Label>
    <Button text="Zurück" (tap)="goBack()"></Button>
</StackLayout>
-->




<ScrollView>
    <GridLayout rows="auto,auto,auto,auto,auto, auto">
        <GridLayout row="0" row="auto,auto">
            <Label row="0" text="An welchem Tag brauchst du Hilfe?" class="fa"></Label>
            <DatePicker (loaded)="onPickerLoadedDate($event)" (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
                (yearChange)="onYearChanged($event)" row="1"></DatePicker>
        </GridLayout>
        <GridLayout row="1" rows="auto,auto">
            <Label row="0" text="Um wie viel Uhr brauchst du Hilfe?" class="fa"></Label>
            <TimePicker minuteInterval="15" (loaded)="onPickerLoadedTime($event)" (timeChange)="onTimeChanged($event)"
                row="1" verticalAlignment="center"></TimePicker>
        </GridLayout>
        <GridLayout row="2" rows="*,*" columns="*,*,*,*">
            <Label row="0" col="0" colSpan="4" text="Wie lange dauert die Hilfe?" class="fa"></Label>
            <Button row="1" col="0" text="30" (tap)="onTapMinute(30)"></Button>
            <Button row="1" col="1" text="60" (tap)="onTapMinute(60)"></Button>
            <Button row="1" col="2" text="90" (tap)="onTapMinute(90)"></Button>
            <Button row="1" col="6" text="+" (tap)="onTapMinute(180)"></Button>
        </GridLayout>
        <GridLayout row="3" rows="*,*" columns="*,*,*,*">
            <Label row="0" col="0" colSpan="4" text="Wie viele Leute brauchst du?" class="fa"></Label>
            <Button row="1" col="0" text="1" (tap)="onTapAmount(1)"></Button>
            <Button row="1" col="1" text="2" (tap)="onTapAmount(2)"></Button>
            <Button row="1" col="2" text="3" (tap)="onTapAmount(3)"></Button>
            <Button row="1" col="6" text="4" (tap)="onTapAmount(4)"></Button>
        </GridLayout>
        <Button row="4" text="Ab geht die Post!" (tap)="submitHenquiry()" [nsRouterLink]="['../henquiry']"></Button>
        <Button row="5" text="Zurück" (tap)="goBack()"></Button>
    </GridLayout>
</ScrollView>

<!--[nsRouterLink]="['../henquiry']"-->