  
  StackLayout {
    font-family: 'Lato', 'Lato-Bold'; 
    margin:70 30 20 30;
  }
  
  Label{
    color:#001144;
  }

  .mid{
    text-align: center;
  }

  .icon{
    font-family: "FontAwesome";
}


.heading{
  font-size:24;
  text-align: center;
}
  
  
  .remember{
    margin:15 0 0 0;
  }
  
  Image {
    margin-bottom: 10;
    height: 100;
  }
 

  Button {
    font-size:15;
    background-color: #FF6600;
    color: white;
    border-radius: 25;
    margin:0 0 20 0;
  }

  Button:active {
    background-color: #d8510e;
  }
 
  .field {
    placeholder-color: #D8DAE5;
    color: #001144;
    border-radius: 25;
    margin-top: 20;
    border-width: 1;
    border-color: #D8DAE5;
    padding:10 20;
    font-size:14;
  }

  .ip{
    placeholder-color: #D8DAE5;
    color: #001144;
    border-radius: 25 0 0 25;
    border-width: 1;
    border-color: #D8DAE5;
    padding:10 20;
    font-size:14;
    margin:10 0 0 0;
  }

  .submitIp{
    margin:10 0 0 0;
    border-radius:0 25 25 0;
  }

  .invalid-feedback {
    margin-top: 0 20;
    text-align: center;
  }
 

  .greyButton {
    background-color: #C4AFB4;
   
  }





  