GridLayout{
    font-family: 'Lato', 'Lato-Bold'; 
}


GridLayout Label{
    color: #2D4757;
    text-align: center;
}

.fa{
    margin:0 30 0 30;
    font-size:20;

}

.heading{
    font-size:35;
}

Button{
    margin:0 10 15 10;
    text-transform: none;
}

.button-row-0{
    background-color: white;
    color: #F1631A;
    border-radius: 25;
    border-width: 2;
    border-color: #F1631A;
}

.button-row-0:active{
    background-color: #F1631A;
    color: white;
    border-radius: 25;
    border-width: 2;
    border-color: #F1631A;
}

.button-row-1{
    background-color: white;
    color: #2D4757;
    border-radius: 25;
    border-width: 2;
    border-color: #2D4757;
}

.button-row-1:active{
    background-color: #2D4757;
    color: white;
    border-radius: 25;
    border-width: 2;
    border-color: #2D4757;
}


