GridLayout{
    font-family: 'Lato', 'Lato-Bold'; 
}


GridLayout Label{
    color: #001144;
    text-align: center;
}

.fa{
    margin:0 30 0 30;
    font-size:14;

}

.heading{
    font-size:24;
}

Button{
    margin:0 10 15 10;
    text-transform: none;
    font-size:14;
}

.button-row-0{
    background-color: white;
    color: #FF6600;
    border-radius: 25;
    border-width: 2;
    border-color: #FF6600;
}

.button-row-0:active{
    background-color: #FF6600;
    color: white;
    border-radius: 25;
    border-width: 2;
    border-color: #FF6600;
}

.button-row-1{
    background-color: white;
    color: #001144;
    border-radius: 25;
    border-width: 2;
    border-color: #001144;
}

.button-row-1:active{
    background-color: #001144;
    color: white;
    border-radius: 25;
    border-width: 2;
    border-color: #001144;
}



