<StackLayout>
  <GridLayout rows="auto,*">
    <GridLayout row="1">
      <TabView androidTabsPosition="top">

        <page-router-outlet *tabItem="{title: 'Hilfegesuche'}" name="itemsoutlet">
        </page-router-outlet>

        <page-router-outlet *tabItem="{title: '+'}" name="henquiryoutlet">
        </page-router-outlet>

        <page-router-outlet *tabItem="{title: 'Kalender'}" name="calenderoutlet">
        </page-router-outlet>

      </TabView>
    </GridLayout>
  </GridLayout>
</StackLayout>