<StackLayout>
  <GridLayout rows="auto,*">
    <GridLayout row="1">
      <TabView androidTabsPosition="bottom" tabBackgroundColor="#E8EBED" selectedTabTextColor="#2D4757" tabTextColor="#95B2C3" tabTextFontSize="45">

        <page-router-outlet *tabItem="{title: '&#xf015;'}" name="itemsoutlet">
        </page-router-outlet>

        <page-router-outlet *tabItem="{title: '&#xf067;'}" name="henquiryoutlet">
        </page-router-outlet>

        <page-router-outlet *tabItem="{title: '&#xf073;'}" name="calendaroutlet">
        </page-router-outlet>

      </TabView>
    </GridLayout>
  </GridLayout>
</StackLayout>
