<ActionBar title="Aufgaben in meiner Nähe">
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<StackLayout marginTop="5">
    <GridLayout rows="auto,*" columns="*,*">
        <Button row="0" col="0" text="Aktualisieren" class="refreshButton" pageTransition="fade" (tap)="refreshDataClick()"></Button>
        <Button row="0" col="1" text="Die Suche eingrenzen" class="filterButton" (tap)="goToFilter()"
            pageTransition="fade"></Button>
        <RadListView row="1" col="0" colSpan="2" [items]="guest ? items : polledItems$ | async" #myListView
            [itemTemplateSelector]="templateSelector" class="list-group" (itemTap)="onItemTap($event)" style="height:100%">
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout rows="auto,auto,auto" columns="*,auto,20" class="border gridItem">
                    <Label row="0" col="0" textWrap="true" [text]="formatCategory(item.category.category, item.category.subcategory)"
                        class="fa heading"></Label>
                    <Label row="1" col="0" verticalAlignment="bottom" textWrap="true" [text]="formatStartTime(item.startTime)"
                        class="fa"></Label>
                    <Label row="2" col="0" textWrap="true" [text]="formatDistance(item.distance)" class="fa"></Label>
                    <Image row="0" rowSpan="3" col="1" [src]="setIcon(item.category.category, item.category.subcategory)"
                        height="75"></Image>
                    <Label row="0" rowSpan="3" col="2" verticalAlignment="bottom" text="&#xf078;" class="icon"></Label>
                </GridLayout>
            </ng-template>
            <ng-template tkTemplateKey="expanded" let-item="item">
                <GridLayout rows="auto,auto" columns="*" class="border-expanded gridItem">
                    <GridLayout row="0" col="0" rows="auto,auto,auto" columns="*,auto,20">
                        <Label row="0" col="0" textWrap="true" [text]="formatCategory(item.category.category, item.category.subcategory)"
                            class="fa heading"></Label>
                        <Label row="1" col="0" verticalAlignment="bottom" textWrap="true" [text]="formatStartTime(item.startTime)"
                            class="fa"></Label>
                        <Label row="2" col="0" textWrap="true" [text]="formatDistance(item.distance)" class="fa"></Label>
                        <Image row="0" rowSpan="3" col="1" [src]="setIcon(item.category.category, item.category.subcategory)"
                            height="75"></Image>
                    </GridLayout>
                    <GridLayout row="1" col="0" rows="auto,auto,auto,auto" columns="auto,*,20">
                        <GridLayout class="terraGrid" row="0" col="0" colSpan="2" rows="auto,auto" columns="*">
                            <Label row="0" col="0" textWrap="true" [text]="formatTerra(item.startTime, item.endTime)"
                                class="fa"></Label>
                            <Label row="1" col="0" textWrap="true" [text]="formatDuration(item.startTime, item.endTime)"
                                class="fa"></Label>
                        </GridLayout>
                        <GridLayout class="avatarGrid" row="1" col="0" colSpan="2" rows="auto,auto,auto" columns="auto,*,20">
                            <Image row="0" rowSpan="3" col="0" [src]="getAvatar(item.createdBy.avatar)" height="100"></Image>
                            <Label row="0" col="1" verticalAlignment="bottom" textWrap="true" [text]="item.createdBy.firstname + ' ' + item.createdBy.surname[0] + '.'"
                                class="fa"></Label>
                            <Label row="1" col="1" verticalAlignment="center" textWrap="true" [text]="item.createdBy.nickname"
                                class="fa"></Label>
                            <Label row="2" col="1" verticalAlignment="top" textWrap="true" [text]="getBestProperty(item.createdBy.rating, item.distance)"
                                class="fa"></Label>
                        </GridLayout>
                        <Button row="2" col="0" colSpan="3" textWrap="true" text="Da will ich helfen!" class="willHelpButton"
                            (tap)="onClick(item._id,$event)"></Button>
                        <Label row="3" col="2" text="&#xf077;" class="icon"></Label>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</StackLayout>