<ActionBar title="Hilfegesuch erstellen">
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<!--<StackLayout>
    <Label text="{{id}}"></Label>
    <Label text={{idtype}}></Label>
    <Button text="Zurück" (tap)="goBack()"></Button>
</StackLayout>
-->


<StackLayout *ngIf="currentPage === 0">
    <GridLayout rows="auto,auto,auto,*,auto" columns="*,*">
        <GridLayout row="0" col="0" colSpan="2" rows="auto" columns="*,auto,*">
            <GridLayout (tap)="goBack()" class="category" row="0" col="1" rows="auto,auto,auto" columns="auto">
            <Label textWrap="true" class="fa categoryText" row="0" col="0" [text]="getCategoryName(category.category)"></Label>
            <Image class="categoryImage" row="1" col="0" [src]="setIcon(category.category, category.subcategory)"></Image>
            <Label textWrap="true" class="fa categoryText" row="2" col="0" [text]="getSubCategoryName(category.category, category.subcategory)"></Label>
        </GridLayout>
        </GridLayout>
        <GridLayout row="1" col="0" colSpan="2" rows="auto,auto" columns="*,*">
            <Label textWrap="true" class="fa subText" row="0" col="0" colSpan="2" text="Wann kannst du Hilfe gebrauchen?"></Label>
            <Button class="buttonLeft orangeButton" row="1" col="0" (tap)="pickDate()" [text]="day + '. ' + month + '. ' + year"></Button>
            <Button class="buttonRight orangeButton" row="1" col="1" (tap)="pickTime()" [text]="hour + ':' + minute + 'Uhr'"></Button>
        </GridLayout>
        <GridLayout row="2" col="0" colSpan="2" rows="auto,auto" columns="*,*">
                <Label textWrap="true" class="fa subText" row="0" col="0" colSpan="2" text="Wie viele Helfer brauchst du?"></Label>
                <Button class="buttonLeft orangeButton" row="1" col="0" (tap)="durationUp()" [text]="duration + ' Minuten'"></Button>
                <Button class="buttonRight orangeButton" row="1" col="1" (tap)="personUp()" [text]="amount + ' Person(en)'"></Button>
        </GridLayout>
        <Button class="buttonLeft blueButton" row="4" col="0" text="Doch nicht" (tap)="goBack()"></Button>
        <Button class="orangeButton buttonRight" row="4" col="1" text="Ab geht die Post!" (tap)="submitHenquiry()" [nsRouterLink]="['../henquiry']"></Button>
    </GridLayout>
</StackLayout>


<!--[nsRouterLink]="['../henquiry']"-->

<!--<StackLayout *ngIf="currentPage === 0">
    <GridLayout rows="auto,auto,auto,auto,*,auto" columns="*,*">
        <Button row="0" col="0" colSpan="2" (tap)="pickTime()" text="Zeit wählen"></Button>
        <Button row="1" col="0" colSpan="2" (tap)="pickDate()" text="Datum wählen"></Button>
        <GridLayout row="2" col="0" colSpan="2" rows="*,*" columns="*,*,*,*">
            <Label row="0" col="0" colSpan="4" text="Wie lange dauert die Hilfe?" class="fa"></Label>
            <Button row="1" col="0" text="30" (tap)="onTapMinute(30)"></Button>
            <Button row="1" col="1" text="60" (tap)="onTapMinute(60)"></Button>
            <Button row="1" col="2" text="90" (tap)="onTapMinute(90)"></Button>
            <Button row="1" col="6" text="+" (tap)="onTapMinute(180)"></Button>
        </GridLayout>
        <GridLayout row="3" col="0" colSpan="2" rows="*,*" columns="*,*,*,*">
            <Label row="0" col="0" colSpan="4" text="Wie viele Leute brauchst du?" class="fa"></Label>
            <Button row="1" col="0" text="1" (tap)="onTapAmount(1)"></Button>
            <Button row="1" col="1" text="2" (tap)="onTapAmount(2)"></Button>
            <Button row="1" col="2" text="3" (tap)="onTapAmount(3)"></Button>
            <Button row="1" col="6" text="4" (tap)="onTapAmount(4)"></Button>
        </GridLayout>
        <Button row="5" col="0" text="Zurück" (tap)="goBack()"></Button>
        <Button row="5" col="1" text="Weiter" (tap)="switchStatus(1)"></Button>
    </GridLayout>
</StackLayout>
-->