<ActionBar title="Specific Chat">
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<StackLayout>
    <StackLayout [items]="polledMessageObj$ | async">
        <StackLayout *ngFor="let message of polledMessages$">
            <StackLayout [className]="userRole(message.participant)">
                <Label [text]="message.message"></Label>
                <Label [text]="userRole()"></Label>
            </StackLayout>
            <Button text="Back" (tap)="goBack()"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>


<!--[ngClass]="{'filer': userRole(polledMessageObj$.aide.firstname), 'aide': !userRole(polledMessageObj$.aide.firstname)}"-->
<!--
<StackLayout>
    <StackLayout [items]="polledMessageObj$ | async">
        <StackLayout *ngFor="let message of polledMessages$">
            <Label [text]="message.message"></Label>
        </StackLayout>
    </StackLayout>
</StackLayout>
-->