<ActionBar title="Specific Chat">
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>
<StackLayout>
    <StackLayout [items]="polledMessageObj$ | async">
        <Button text="Back" (tap)="goBack()"></Button>
        <StackLayout *ngFor="let message of polledMessages$">
            <StackLayout [className]="userRole(message.participant)">
                <Label [text]="message.message"></Label>
            </StackLayout>
        </StackLayout>
        <TextField #textfield class="chatTextField" [(ngModel)]="msg"></TextField>
        <Button #btn text="send" (tap)=sendMessage(msg)></Button>
    </StackLayout>
</StackLayout>
