ActionBar {
    background-color:  #FF6600;
    color: white;
    font-family: 'Lato', 'Lato-Bold'; 
}

Button {
    background-color: #FF6600;
    color: white;
    border-radius: 25;
    font-family: 'Lato', 'Lato-Bold'; 
}

.willHelpButton {
    margin:20 0 0 0;
    font-size:13;
}

.willHelpButton:active{
    background-color: #d8510e;
}

.greyButton {
    margin:20 0 0 0;
    font-size:13;
    background-color: #C4AFB4;
    color: #001144;
}

.filterButton {
    margin:5 15;
    font-size:15;
    background-color: #E8EBED;
    color: #001144;
    border-radius: 25;
}

.filterButton:active {
    background-color: #001144;
    color: #E8EBED;
}

  .gridItem {
    background-color: white;; 
    color:#001144;
    border-width: 2;
    border-color: #001144;
    margin:5 15;
    padding:10 10 10 15;
    border-radius:20;
}

.icon {
     font-family: "FontAwesome";
 }

.fa {
    font-family: 'Lato', 'Lato-Bold'; 
}

.heading {
    font-size: 17;
}
 
