FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("~/images/background.jpg");
    font-family: 'Lato', 'Lato-Bold'; 
  }
  StackLayout {
    width: 350;
    padding: 40 16;
    background-color: white;
    border-radius: 25;
  
  }
  Image {
    margin-bottom: 10;
    height: 100;
  }
 

  Button{
    font-size:15;
    background-color: #F1631A;
    color: white;
    border-radius: 25;
    margin-top: 20;
  }

  Button:active{
    background-color: #d8510e;
  }
 
  TextField {
    placeholder-color: #C4AFB4;
    color: black;
  }
  