
<FlexboxLayout>
    <StackLayout [formGroup]="signUpForm">
        <Image
            [src]="getCategoryIconSource('icon')">
        </Image>
        <TextField 
            formControlName="email" 
            hint="Email-Adresse" 
            keyboardType="email"
            autocorrect="false" 
            autocapitalizationType="none"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </TextField>
        <Label 
            *ngIf="submitted && f.email.errors" 
            class="invalid-feedback"
            text="Kein Nutzername angegeben!">
        </Label>
        <TextField 
            formControlName="password" 
            hint="Passwort"
            secure="true"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </TextField>
        <Label 
            *ngIf="submitted && f.password.errors" 
            class="invalid-feedback"
            text="Es fehlt ein Password!">
        </Label>
        <Button 
            [ngClass]="{ 'greyButton': loading }"
            [disabled]="loading"
            text="Durchstarten!"  
            (tap)="onSubmit()">
        </Button>
        <Button 
            [ngClass]="{ 'greyButton': loading }"
            [disabled]="loading"
            text="Ein Schritt zurück"  
            (tap)="goBack()">
        </Button>
    </StackLayout>
</FlexboxLayout>