<ActionBar title="Aufgaben in meiner Nähe">
</ActionBar>


<GridLayout rows="auto,auto,auto,*,auto">
        <GridLayout row="0" rows="auto,auto,auto,auto" columns="*, *">
                <Label row="0" col="0" colSpan="2" textWrap="true" text="Bei welchen Tätigkeiten möchtest du gerne helfen?" class="fa"></Label>
                <Button row="1" col="0" text="Schwerer Haushalt" class="orangeButton" (tap)="handleTap($event, true, old, c=[true,false,false,false,false] , t, d)"></Button>
                <Button row="1" col="1" text="Leichter Haushalt" class="orangeButton" (tap)="handleTap($event, true, old, c=[false,true,false,false,false] ,t, d)"></Button>
                <Button row="2" col="0" text="Gartenarbeit" class="orangeButton" (tap)="handleTap($event, true, old, c=[false,false,false,true,false] ,t, d)"></Button>
                <Button row="2" col="1" text="Gesellschaft" class="orangeButton" (tap)="handleTap($event, true, old, c=[false,false,true,false,false] ,t, d)"></Button>
                <Button row="3" col="0" text="Tiere" class="orangeButton" (tap)="handleTap($event, true, old, c=[false,false,false,false,true] ,t, d)"></Button>
        </GridLayout>
        <GridLayout row="1" rows="*,*" columns="*,*,*,*">
                <Label row="0" col="0" colSpan="4" textWrap="true" text="Wie viele Minuten hast du Zeit?" class="fa"></Label>
                <Button row="1" col="0" text="30" class="orangeButton" (tap)="handleTap($event, false, old, c, t=30, d)"></Button>
                <Button row="1" col="1" text="60" class="orangeButton" (tap)="handleTap($event, false, old, c, t=60, d)"></Button>
                <Button row="1" col="2" text="90" class="orangeButton" (tap)="handleTap($event, false, old, c, t=90, d)"></Button>
                <Button row="1" col="3" text="+" class="orangeButton" (tap)="handleTap($event, false, old, c, t=9999, d)"></Button>
        </GridLayout>
        <GridLayout row="2" rows="*,*" columns="*,*,*,*">
                <Label row="0" col="0" colSpan="4" textWrap="true" text="Wie viele Kilometer darf das Hilfegesuch entfernt sein?" class="fa"></Label>
                <Button row="1" col="0" text="1" class="orangeButton" (tap)="handleTap($event, false, old, c ,t, d=0.1)"></Button>
                <Button row="1" col="1" text="2" class="orangeButton" (tap)="handleTap($event, false, old, c ,t, d=2)"></Button>
                <Button row="1" col="2" text="4" class="orangeButton" (tap)="handleTap($event, false, old, c ,t, d=4)"></Button>
                <Button row="1" col="3" text="+" class="orangeButton" (tap)="handleTap($event, false, old, c ,t, d=50)"></Button>
        </GridLayout>
        <GridLayout row="4" rows="*" columns=" *, *">
                <Button row="0" col="0" text="Lieber wieder zurück" class="blueButton" (tap)="reset()" [nsRouterLink]="['../items']"
                        pageTransition="fade">
                </Button>
                <Button row="0" col="1" text="Danach suchen" class="applyButton" pageTransition="fade" [nsRouterLink]="['../items']"></Button>
        </GridLayout>
</GridLayout>