ActionBar {
    background-color:  #FF6600;
    color: #001144;
    font-family: 'Lato', 'Lato-Bold';
}


GridLayout {
    font-family: 'Lato', 'Lato-Bold'; 
}

Label {
    margin:10 0 0 5;
}


.fa {
    color: #001144;
}

Button {
    text-transform: none;
    height:50;
}

.applyButton {
    background-color: white;
    color: #FF6600;
    border-radius: 25;
    border-width: 2;
    border-color: #FF6600;
    margin:10 10 15 10;
    height:50;
}

.applyButton:active {
    background-color: #FF6600;
    color: white;
}

.orangeButtonTime {
    background-color: white;
    color: #FF6600;
    border-radius: 50;
    border-width: 1;
    border-color: #FF6600;
    margin:10 5 0 5;
    height:50;
}

.orangeButtonTimeSelected {
    background-color: #FF6600;
    color: white;
    border-radius: 50;
    border-width: 1;
    border-color: #FF6600;
    margin:10 5 0 5;
    height:50;
}

.orangeButtonAmount {
    background-color: white;
    color: #FF6600;
    border-radius: 50;
    border-width: 1;
    border-color: #FF6600;
    margin:10 5 0 5;
    height:50;
}

.orangeButtonAmountSelected {
    background-color: #FF6600;
    color: white;
    border-radius: 50;
    border-width: 1;
    border-color: #FF6600;
    margin:10 5 0 5;
    height:50;
}

.orangeButtonCategory {
    background-color: white;
    color: #FF6600;
    border-radius: 50;
    border-width: 1;
    border-color: #FF6600;
    margin:10 5 0 5;
    height:50;
}

.orangeButtonCategorySelected {
    background-color: #FF6600;
    color: white;
    border-radius: 50;
    border-width: 1;
    border-color: #FF6600;
    margin:10 5 0 5;
    height:50;
}

.blueButton {
    background-color: white;
    color: #001144;
    border-radius: 25;
    border-width: 2;
    border-color: #001144;
    margin:10 10 15 10;
    height:50;
}

.blueButton:active {
    background-color: #001144;
    color: white;
}
