  
  StackLayout{
    font-family: 'Lato', 'Lato-Bold'; 
  }
  
  Label{
    color:#001144;
    
  }

  .mid{
    text-align: center;
  }

  .codeText{
    margin:40 20 0 20;
  }

  .invalid-feedback{
    margin:0 20;
  }

.heading{
  font-size:24;
  text-align: center;
  margin:70 0 20 0;
}
  
.longText{
  margin:0 20;
  text-align: center;
}
  
  Image {
    height: 10;
  }
 

  Button {
    font-size:15;
    background-color: #FF6600;
    color: white;
    border-radius: 25;
    margin:15 10 10 10;
  }

  Button:active {
    background-color: #d8510e;
  }
 
  TextField {
    placeholder-color: #C4AFB4;
    color: #001144;
    border-radius: 25;
    border-width: 2;
    border-color: #FF6600;
    padding:10 20;
    margin:15 20 0 20;
  }

  .greyButton {
    background-color: #C4AFB4;
   
  }





  