<FlexboxLayout>
    <StackLayout [formGroup]="registerForm">
        <Image
            [src]="getCategoryIconSource('icon')">
        </Image>
        <TextField 
            formControlName="email" 
            hint="Email-Adresse" 
            keyboardType="email"
            autocorrect="false" 
            autocapitalizationType="none">
        </TextField>
        <Label 
            *ngIf="submitted && f.email.errors?.required" 
            class="invalid-feedback"
            text="Keine E-Mail angegeben!">
        </Label>
        <Label
            *ngIf="submitted && f.email.errors?.pattern"
            class="invalid-feedback"
            text="Keine valide E-Mail!">
        </Label>

        <TextField 
            formControlName="surname" 
            hint="Nachname" 
            autocorrect="false">
        </TextField>
        <Label 
            *ngIf="submitted && f.surname.errors?.required" 
            class="invalid-feedback"
            text="Es fehlt ein Nachname!">
        </Label>

        <TextField 
            formControlName="firstname" 
            hint="Vorname" 
            autocorrect="false">
        </TextField>
        <Label 
            *ngIf="submitted && f.firstname.errors?.required" 
            class="invalid-feedback"
            text="Es fehlt ein Vorname!">
        </Label>

        <TextField 
            formControlName="nickname" 
            hint="Spitzname" 
            autocorrect="false">
        </TextField>
        <Label 
            *ngIf="submitted && f.nickname.errors?.required" 
            class="invalid-feedback"
            text="Es fehlt ein Spitzname!">
        </Label>


        <TextField 
            formControlName="password" 
            hint="Passwort"
            secure="true">
        </TextField>
        <Label 
            *ngIf="submitted && f.password.errors?.required" 
            class="invalid-feedback"
            text="Es fehlt ein Password!">
        </Label>

        <TextField 
            formControlName="confPassword" 
            hint="Passwort bestätigen"
            secure="true">
        </TextField>
        <Label 
            *ngIf="submitted && f.confPassword.errors?.required" 
            class="invalid-feedback"
            text="Das Passwort wiederholen!">
        </Label>
        <Label
            *ngIf="submitted && registerForm .errors?.mismatch"
            class="invalid-feedback"
            text="Passwörter stimmen nicht überein!">
        </Label>

        <Button 
            [ngClass]="{ 'greyButton': loading }"
            [disabled]="loading"
            text="Mitmachen!"  
            (tap)="onSubmit()">
        </Button>
    </StackLayout>
</FlexboxLayout>