<StackLayout [formGroup]="registerForm">
    <StackLayout *ngIf="currentPage === 0">

        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto">

            <Label row="0" text="Teil werden!" class="heading"></Label>

            <TextField formControlName="firstname" hint="Vorname" autocorrect="false">
            </TextField>
            <Label *ngIf="submitted && f.firstname.errors?.required" class="invalid-feedback" text="Es fehlt ein Vorname!">
            </Label>

            <TextField formControlName="surname" hint="Nachname" autocorrect="false">
            </TextField>
            <Label *ngIf="submitted && f.surname.errors?.required" class="invalid-feedback" text="Es fehlt ein Nachname!">
            </Label>

            <TextField formControlName="email" hint="Email-Adresse" keyboardType="email" autocorrect="false"
                autocapitalizationType="none">
            </TextField>
            <Label *ngIf="submitted && f.email.errors?.required" class="invalid-feedback" text="Keine E-Mail angegeben!">
            </Label>
            <Label *ngIf="submitted && f.email.errors?.pattern" class="invalid-feedback" text="Keine valide E-Mail!">
            </Label>



            <TextField formControlName="password" hint="Passwort" secure="true">
            </TextField>
            <Label *ngIf="submitted && f.password.errors?.required" class="invalid-feedback" text="Es fehlt ein Password!">
            </Label>

            <TextField formControlName="confPassword" hint="Passwort bestätigen" secure="true">
            </TextField>
            <Label *ngIf="submitted && f.confPassword.errors?.required" class="invalid-feedback" text="Das Passwort wiederholen!">
            </Label>
            <Label *ngIf="submitted && registerForm .errors?.mismatch" class="invalid-feedback" text="Passwörter stimmen nicht überein!">
            </Label>

            <Image row="2" [src]="getCategoryIconSource('status1v4')"></Image>



            <Button [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Weiter" (tap)="switchStatus(1)">
                </Button>
        
                <Button [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück" (tap)="goBack()">
                </Button>

        </GridLayout>







        <TextField formControlName="nickname" hint="Spitzname" autocorrect="false">
        </TextField>
        <Label *ngIf="submitted && f.nickname.errors?.required" class="invalid-feedback" text="Es fehlt ein Spitzname!">
        </Label>







    </StackLayout>

    <StackLayout *ngIf="currentPage === 1">
        <Label text="Seite 2"></Label>
        <Button [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Weiter" (tap)="switchStatus(2)">
        </Button>
        <Button [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück" (tap)="switchStatus(0)">
        </Button>
    </StackLayout>

    <StackLayout *ngIf="currentPage === 2">
        <Label text="Seite 3"></Label>
        <Button [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Mitmachen!" (tap)="onSubmit()">
        </Button>
        <Button [ngClass]="{ 'greyButton': loading }" [disabled]="loading" text="Ein Schritt zurück" (tap)="switchStatus(1)">
        </Button>
    </StackLayout>
</StackLayout>