<TabView #tabview (swipe)="onSwipe($event)" androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'HILFE', iconSource: getIconSource('browse')}"
        name="browseTab">
    </page-router-outlet>
    
    <page-router-outlet 
        class="specialIcon"
        *tabItem="{title: 'TEST', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'TERMINE', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

</TabView>